<?xml version="1.0" encoding="UTF-8"?>	
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.kingston.pg2" versionCode="11" version="1.2.0">	
    <!--	versionCode	is	opIonal	and	Android	only	-->	
    <name>
        Abofra
    </name>	
    <description>	
        Helping kids, helping Ghana
    </description>	
    <author href="http://www.ashesi.edu.gh" email="delcoker@gmail.com">	
        Kingston Coker		
    </author>	
    <icon src="resources/coin.ico"/>
    <gap:splash src="splash.png"/>
</widget>